# Python Lists
Lists are a python datatype where we can store zero to N number of same or different python objects.

## Lists are created with [] or list()

In [24]:
list1=[]
weekdays=["sunday","monday","tuesday","wednasday","thrusday","friday","saterday"]
list2=list()

print(list1)
print(weekdays)
print(list2)

[]
['sunday', 'monday', 'tuesday', 'wednasday', 'thrusday', 'friday', 'saterday']
[]

## Converting Other Data types to list with list()

In [3]:
name="Deepayan Nandy"
dob='6/3/1998'
name_list=list(name)
dob_list=dob.split('/')
print(name_list)
print(dob_list)

['D', 'e', 'e', 'p', 'a', 'y', 'a', 'n', ' ', 'N', 'a', 'n', 'd', 'y']
['6', '3', '1998']

## Get an item by its offset using [offset]

In [6]:
print(weekdays)
print(weekdays[1])
print(weekdays[4])
print(weekdays[-1])

['sunday', 'monday', 'tuesday', 'wednasday', 'thrusday', 'friday', 'saterday']
monday
thrusday
saterday

## Creating Multi dimentional list
a list can contain more than one lists inside them. Example:

In [31]:
class1=["Chandan","Mrinal","Rohit"]
class2=["Harshib","Dipankar"]
class3=["Lipi","Deepayan","Liyan"]

all_students=[class1,class2,class3]
print(all_students)
## now if we want to extract data from a Multi dimentional list
print(all_students[2])
print(all_students[1][0])  ## most importaint and useful feature

[['Chandan', 'Mrinal', 'Rohit'], ['Harshib', 'Dipankar'], ['Lipi', 'Deepayan', 'Liyan']]
['Lipi', 'Deepayan', 'Liyan']
Harshib

## Updating / Changing items by there [offset]

In [13]:
# changing the 3rd student name from Rohit t Akshay
print(class1)
class1[2]="Akshay"
print(class1)

['Chandan', 'Mrinal', 'Rohit']
['Chandan', 'Mrinal', 'Akshay']

## Slicing Lists by the offset Range using [Start:End:Steps]

In [15]:
# Starting from 3rd index till the end
print(weekdays[3::])
# starting from index 0 till 4th endex
print(weekdays[0:4:])
# starting from index 0th index till the end with skipping the 1 items
print(weekdays[0::2])
# Reversing lists using slicing operater
print(weekdays[::-1])

['wednasday', 'thrusday', 'friday', 'saterday']
['sunday', 'monday', 'tuesday', 'wednasday']
['sunday', 'tuesday', 'thrusday', 'saterday']
['saterday', 'friday', 'thrusday', 'wednasday', 'tuesday', 'monday', 'sunday']

## Adding new items using the append()

In [25]:
print(list1)
# the items which are added using append function are placed at the end of the exixting list
list1.append("Aditi")
print(list1)
# using append function we can add any kind of python objects
list1.append(121)
print(list1)

[]
['Aditi']
['Aditi', 121]

## Combining Lists by Using extend() or +=

In [32]:
print(class1)
print(class2)
print(class3)
class1.extend(class2)
print(class1)
class1+= class3
print(class1)

['Chandan', 'Mrinal', 'Rohit']
['Harshib', 'Dipankar']
['Lipi', 'Deepayan', 'Liyan']
['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Dipankar']
['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']

## Adding intems by offsets using insert()

In [27]:
print(class1)
class1.insert(4,"Dipak") # always remember this function doesn't replace the item it shifts the old item by 1 offset
print(class1)

['Chandan', 'Mrinal', 'Akshay', 'Harshib', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']
['Chandan', 'Mrinal', 'Akshay', 'Harshib', 'Dipak', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']

## Deleting item by there [offsets]

In [28]:
print(class1)
del class1[4]
print(class1)

['Chandan', 'Mrinal', 'Akshay', 'Harshib', 'Dipak', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']
['Chandan', 'Mrinal', 'Akshay', 'Harshib', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']

## Removing items by the values using remove()

In [33]:
print(class1)
class1.remove("Dipankar")
print(class1)

['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Dipankar', 'Lipi', 'Deepayan', 'Liyan']
['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Lipi', 'Deepayan', 'Liyan']

## Deleate items using pop()
Always remember uing the pop() the last item on the list will be deleated.

In [34]:
print(class1)
class1.pop()
print(class1)

['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Lipi', 'Deepayan', 'Liyan']
['Chandan', 'Mrinal', 'Rohit', 'Harshib', 'Lipi', 'Deepayan']

## Finding the items index using the items value

In [35]:
print(class1.index("Lipi"))

4

## Test for a Value with in

In [38]:
print("Deepayan" in class1)
print("Liyan" in class1)

True
False

## Count the occurance of an item in a list by using count()

In [41]:
print(weekdays.count("sunday"))

1

## Finding the length of a list using len()

In [42]:
print(len(weekdays))

7

## Shorting a list using .sort()

In [43]:
print(weekdays)
weekdays.sort()
print(weekdays)

['sunday', 'monday', 'tuesday', 'wednasday', 'thrusday', 'friday', 'saterday']
['friday', 'monday', 'saterday', 'sunday', 'thrusday', 'tuesday', 'wednasday']